@media (max-width:1366px){

.wrapper{
    width: 1336px;
    padding: 0 72px;
}
.garant{
    width: 100%;
}
.footer_container {
    padding: 0 72px;
    margin-top: 120px;
    width: 100%;
}

.cards {
    gap: 72px 2%;
}
.card {
    width: 576px;
    margin:0 ;
    padding: 40px 185px 72px 40px;
}

.card:nth-child(1){
    order: 1;
}
.card:nth-child(2){
    order: 4;
}
.card:nth-child(3){
    order: 3;
}
.card:nth-child(4){
    order: 5;
}
.card:nth-child(5){
    order: 6;
}
.card:nth-child(6){
    order: 2;
}
.card:nth-child(7){
    order: 7;
}
.card:nth-child(8){
    order: 8;
}
.garant_inp:nth-child(1){
    margin-right: 40px;
}

.card-consult{
    padding-top: 32px;
    padding-bottom: 32px;
}

.garant_middle_conteiner{
    flex-direction: column-reverse;
}
.garant_inp{
    width: 574px;
}
.garant_area{
    width: 1192px;
}

.footer_container{
    width: 1336px;
}

}